
.box{
    background-color: #D9D9D9;
    width: 100%;
    /* min-width: inherit; */
    /* margin: 10px; */
    /* margin: auto; */
    height: 17.5rem; 
    border-radius: 50px;
}

.grid{
    /* padding: 10px; */
    /* background-color: red; */
    /* width: 100%; */
    /* align-self: center; */
    /* justify-self: center; */
    /* margin: auto; */

}