.bubbleHome{
    margin-bottom: 11.6rem;
}
.projectHome{
    margin-bottom: 11.6rem;
}
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 50%;
    border: 1px solid #ededed;
}
.titleText{
    margin-inline-end: 0.5rem;
    margin-inline-start: 0.5rem;
}