.logo{
    width: 100px;
}
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    /* border-bottom: 1px solid #f2f2f2; */
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  
  .navbar a:hover {
    color: #F2786D;
  }
  