.logo{
    width: 100px;
}
/* .navbar {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  } */
/*   
  .navbar .links {
    margin-left: auto;
  } */
  
 .a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  
.a:hover {
    color: #F2786D;
  }
.appbar{
  /* background-color: aqua; */
  /* margin-bottom: 10rem; */
}
.links{
  display: flex;
  flex-direction: column;
}
.link{
  margin-top: 1rem;
  /* background-color: rebeccapurple; */
  padding: 1rem;
}
.link:hover{
  background-color: #ededed;
}
.container{
  /* background-color: #F2786D; */
  max-width: 90%;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}